@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
:root {
  --font-body: "gabarito", sans-serif;
  --primary: #ccf654;
  --code-back: rgba(34, 34, 34, 0.3);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
